{% extends 'bgp/community/_base.html' %}
{% load helpers %}
{% block subcontent %}
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header"><strong>Community Details</strong></div>
      <table class="card-body table table-hover attr-table mb-0">
        <tr>
          <td>Name</td>
          <td>{{ instance.name }}</td>
        </tr>
        <tr>
          <td>Description</td>
          <td>{{ instance.description|render_none }}</td>
        </tr>
        {% with kind=instance.kind %}
        {% if kind %}
        <tr>
          <td>Kind</td>
          <td>{{ kind|capfirst }}</td>
        </tr>
        {% endif %}
        {% endwith %}
        {% if instance.value %}
        <tr>
          <td>Value</td>
          <td><code>{{ instance.value }}</code></td>
        </tr>
        {% endif %}
      </table>
    </div>
    <div class="card mt-3">
      <div class="card-header"><strong>Members</strong></div>
      <table class="card-body table table-hover mb-0">
        <tbody>
          {% for member in instance.members %}
          <tr><td><code>{{ member }}</code></td></tr>
          {% empty %}
          <tr><td class="text-muted">No members defined.</td></tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-6">
    {% include 'includes/tags_card.html' with tags=instance.tags.all url='bgp:community_list' %}
  </div>
</div>
{% endblock %}
